$secondary:rgb(231,162,32);
$primary:rgb(25, 25, 25);
$lightPrimary : lighten($primary,50%);
// $darkPrimary: 

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Merriweather', serif;
    font-size: .9rem;
}


// navbar section

.navbar-expand-md{
    position: fixed;
    width: 100%;
    padding: 0 8rem;
    // min-height: 5em;
    z-index: 50;
    background: #999999;
    transition: all .2s ease;

    .navbar-brand{
        // width: 20%;
        color: #000;
        font-size: 2rem;
        font-weight: 700;
        // text-align: center;
    }

    button:focus{
        outline: none;
    }

    .toggler-btn{
        padding: 5px;
        transition: all 1s ease;
    }
    
    .bar{
        width: 30px;
        height: 3px;
        margin: 5px;
        background: #000;
        transition: all 0.5s ease;
    }
    
    .change .bar1{
        transform: translateY(8px) rotate(135deg);
    }
    
    .change .bar2{
        opacity: 0;
    }
    
    .change .bar3{
        transform: translateY(-8px) rotate(45deg);
    }

    .navbar-collapse{
        width: 100%;
        justify-content: flex-end;
    }

    .navbar-nav{
        width: 100%;
        justify-content: space-evenly;

        a{
            padding: 10px 20px;
            text-transform: capitalize;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: .1rem;
            color: #000;
            transition: all .5s ease;

            &:hover{
                color: rgb(90, 8, 8);
            }

            i{
                color: $secondary;
                font-size: 1.4rem;
            }
        }
    }
}

.header{

    .carousel-inner{

        img{
            height: 80vh;
            width: 100%;
        }
    }
}

.section1{
    width: 100%;
    padding: 2rem .5rem 1rem .5rem;
    background: #dddddd;
    .row{
        padding: 0;
        margin: 0;
        .col-6{
            padding: .5rem;
            img{
                width: 100%;
            }
        }
    }
}

.section2{
    width: 100%;
    padding: 1rem .5rem 1rem .5rem;
    .row{
        padding: 0;
        margin: 0;
        .col-6{
            padding: 0;
            img{
                // padding: 1rem;
                margin: 1rem;
                width: 95%;
                border: 1rem solid #fff;
                box-shadow: 0px 0px 10px rgb(48, 48, 48);
            }

        }
    }
}

.menu{
    width: 100%;
    padding: 1rem;
    text-align: center;
    background: #dddddd;

    h1{
        font-weight: bold;
    }
    nav{
        width: 80%;
        margin: 0 auto;

        .nav{
            justify-content: space-evenly;
        }
        .nav-pills .nav-link{
            border-radius: 5rem;
            color: #000;
            border: .1rem solid #999999;
        }
        .nav-pills .nav-link.active{
            background: transparent;
            border-color: #000000;
        }
    }

    .swiper-container {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 25vw;
    height: 30vw;
    }
}

.banner{
    width: 100%;
    height: 50vh;
    background: url("../bread-color-copyspace-1565982.jpg") center center;
    background-size: cover;
}

.section3{
    width: 100%;
    background: #dddddd;
    padding: 5rem 0;
    .container{
        width: 80%;
        margin: 0 auto;
        text-align: center;

        i{
            color: $secondary;
        }
        h5{
            text-transform: uppercase;
        }
       
    }
}

.offerSection{
    .carousel-inner{
        img{
            height: 70vh;
            width: 100%;
        }
    }
}

.displaySection{
    width: 100%;
    padding: 0;
    margin: 0;
    .row{
        padding: 0;
        margin: 0;
        .col-6{
            padding: 0;
            img{
                width: 100%;
                height: 25vw;
            }
        }
    }
}

.locationSection{
    width: 100%;
    height: 40vh;
    iframe{
        width: 100%;
        height: 40vh;
    }
}

.footer{
    width: 100%;
    padding: 4rem 0 2rem 0;
    background: $primary;
    .container{
        width: 80%;
        padding: 0;
        margin: 0 auto;
        color: #fff;
        .row{
            padding: 0;
            margin: 0;
            .col-md-4{
                a{
                    color: #dddddd;
                    text-decoration: none;
                }
                p{
                    color: #dddddd
                    span{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.copyrightSection{
    width: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .copyright{
        margin: .5rem;
    }
    .icons{
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        i{
            font-size: 1.1rem;
        }
    }
}